@font-face {
    font-family: 'LAB_digital';
    src: url('../src/fonts/LAB_digital.woff') format('woff');
}

@font-face {
    font-family: 'Cafe24Ohsquareair';
    src: url('../src/fonts/Cafe24Ohsquareair.woff') format('woff');
}

@font-face {
    font-family: 'Sunflower-Medium';
    src: url('../src/fonts/Sunflower-Medium.woff') format('woff');
}

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('../src/fonts/GowunDodum-Regular.woff') format('woff');
}
