.rate—circle__yellow {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 5px;
    background-color: rgb(255, 235, 59);
  }

.rate—circle__grey {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 5px;
    background-color: #ddd;
  }

.rate—arrow {
    appearance: none;
    background-color: transparent;
    border-color: transparent purple;
    width: 0px;
    height: 0px;
    border-top-width: 1rem;
    border-top-style: solid;
    border-bottom-width: 1rem;
    border-bottom-style: solid;
    border-left-width: 1.6rem;
    border-left-style: solid;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }

.main--wrapper {
      display: flex;
      flex-direction: column;
      font-size: 42px;
      font-family: 'LAB_digital';
  }

.main—rate {
      display: flex;
      margin: 15px;
      align-items: center;
      padding-inline-start: 30px;
  }

.circles{
    margin-left: 15px;
}

.rate—arrow {
    margin-left: 30px;
}

.rate—date {
      display: flex;
      margin: 0px;
  }